<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>LOGCON</title>

    <!-- Local -->
    <!-- <link rel="stylesheet" href="../public/stylesheets/main.css"> -->
    <!-- <script src="../public/scripts/main.js"></script> -->

    <!-- Server -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="scripts/main.js"></script>

    
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1>Welcome to <span class="errorcode">LOGCON</span> by Teamlog 2018</h1>
        <p>You can choose one of the problems listed below and get your score by fixing the problem.</p>

        <br>
        <p>Enter <a href="/">home</a> to return the home page.</p>

        <br>
        <p>
            <% for (var i = 1; i < title.length; i++) { %>
                <% if (i % 6 == 0) { %>
                    <br>
                <% } %>
                <a href="challenge/<%= i %>"><%= title[i] %> - <%= title[i].스코어 %></a> 
            <% } %>
        </p>

        <br>
        <p id="history">
            ↓
        </p>
        
        <form action="javascript:void(0);">
            <p class="input-cover">
                <span id="user-information"><%= user_id %>@<%= user_school %>:/challenges$ </span>
                <input class="input" type="text" autocomplete="off autofocus">
            </p>
        </form>
    </div>
    
    
</body>
</html>