<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>LOGCON</title>

    <!-- Local -->
    <!-- <link rel="stylesheet" href="../public/stylesheets/main.css"> -->
    <!-- <script src="../public/scripts/main.js"></script> -->

    <!-- Server -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/scripts/main.js"></script>

    <script>
        // let pid = <%= pid %>;
        // let dividedPid = window.location.pathname.split('/');
        // urlPid = dividedPid[1];
    </script>
    
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
        <h1><span class="errorcode"><%= info[pid - 1].TITLE %></span> - <%= info[pid - 1].SCORE %></h1>

        <p>You can enter the commands listed below.</p>
        <p class="output">solve --answer=[answer key]</p>
        <p class="output">solve -a=[answer key]</p>

        <br>
        <p>Enter <a href="/challenge">challenges</a> to return the challenges page.</p>

        <br>
        <p>
            <%= info[pid - 1].CONTENTS %>
        </p>

        <% if (info[pid - 1].FILE_PATH != "false") { %>
            <a href="<%= info[pid - 1].FILE_PATH %>" download="<%= info[pid - 1].TITLE %>">Download link</a>
            <br>
        <% } %>
        <br>
        <p id="history">
            ↓
        </p>
        
        <form action="javascript:void(0);">
            <p class="input-cover">
                <span id="user-information"><%= user_id %>@<%= user_school %>:/challenges/<%= info[pid - 1].TITLE %>$ </span>
                <input class="input" type="text" autocomplete="off autofocus">
            </p>
        </form>
    </div>
    
    
</body>
</html>